// Variables

$color-primary-dark: #1a1a1d;
$color-grey-dark-1: #212124;

$color-secondary-dark: #6f2232;
$color-secondary-medium: #950740;
$color-secondary-light: #c3073f;

$color-primary-light: #d4d4d5;
$color-grey-light-1: #aaaaac;
$color-grey-light-2: #838385;
$color-grey-light-3: #5d5d5f;
