.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0.8rem;
  //   border-radius: 100px;
  font-size: 1.2rem;
  border: none;
  margin-right: 15rem;
  transition: all 0.2s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-primary-dark;
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $color-grey-dark-1;
  color: $color-secondary-light;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  cursor: pointer;
  background-color: transparent;
  color: $color-secondary-light;
  transform: scale(1.1);
}
